/* ========================
    Basic Styles
    ======================== */

/* Reset basic margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles for Top App Bar */
.mdc-top-app-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Text Overflow for table cells and note text */
td, .note-text, .mdc-data-table__cell {
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
}

/* Week View */
.week-view {
    overflow-x: auto;
}

/* Planner Table */
.planner-table {
    width: 100%;
    min-width: 800px; /* Ensure the table is sufficiently wide */
}

/* Day Header */
.day-header {
    text-align: center;
    padding: 16px;
    background-color: #f5f5f5;
}

.day-header.holiday {
    background-color: #ffe0e0; /* Different background for holidays */
}

/* Note Text Container */
.note-text-container {
    position: relative;
}

/* Note Text */
.note-text { 
    min-height: 52px;
    font-size: 0.75rem; 
    border-radius: 0;
    padding-left: 4px;
    padding-right: 8px;
    cursor: text;
    background-color: #fff;
    white-space: break-spaces;
}

.mdc-data-table__row {
  
    min-height: 52px;}
.mdc-snackbar__action:not(:disabled) {
    color:#206d58;
}
.mdc-top-app-bar { 
    background-color: #ffffff;

}
.recording .note-text {
    background-color: #ffa8a8; /* Active transcription indicator */
}

/* Microphone Icon Container */
#top-mic-container {  
     
    width: 56px;
    height: 56px;
    z-index: 1000;
}

#top-mic-icon { 
    height: 100%;
    width: 100%;
    color: black;
    background-color: white;
    border: 1px solid  black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    transition: background-color 0.3s;
}

#top-mic-icon.active {
    color: red;
    background-color: white;    border: 1px solid  #FF0000;;

    animation: pulse 1s infinite;
    filter: drop-shadow(2px 4px 6px red);
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
}

/* Microphone Countdown */
.mic-countdown {
    position: absolute;
    top: -30px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    display: none;
}

/* Dialog Modal */
.year-calendar-modal .mdc-dialog {
    width: 80%;
    max-width: 800px;
}

.year-calendar-modal table {
    width: 100%;
    border-collapse: collapse;
}

.year-calendar-modal th,
.year-calendar-modal td {
    padding: 8px;
    border: 1px solid #ddd;
}
 .selected-cell { 
    background-color:  #cffff2 !important; /* Highlight selected week */
}

/* Snackbar */
.mdc-snackbar__surface {
    background-color: #ffffff;
    color: #fff;
    border: 1px solid;
}

.mdc-snackbar__label {
    flex: 1;
}

.mdc-snackbar__action {
    color: #ffab00;
}

/* Spinner */
.mdc-circular-progress {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Error Notification Animation */
.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0%, 100% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
}

/* Feedback Orange */
.feedback-orange {
    color: orange !important;
    border:1px solid orange !important;
}
 
/* Week Navigation */
.week-navigation {
    display: flex;
    color: black;
    align-items: center;
    margin-left: 20px; /* Margin from previous element */
}

.week-navigation button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
}
#real-time-date {
    
    display: block;
    color: black;
}
#real-time-year {
    display: block;
    color: black;
}
.week-navigation button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

/* Time Labels */
.time-slot {
    font-size: 0.75rem; 
    position: relative; /* For absolute positioning of time-label */
}

.time-slot:hover .time-label {
    opacity: 1; /* Show on hover */
}

.time-label {
    position: absolute;
    right: -20px;
    font-size: 0.75rem; 
    top: 28%;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: center;
    opacity: 0;
    z-index: 99999; 
}

.rotated-date {
    position: absolute;
    right: 23px;
    bottom: 22px;
    transform: rotate(-90deg);
    font-weight: bold;
    transform-origin: top right;
    white-space: nowrap;
    text-align: left;
}
/* Header Cell Styling */
#day-headers th {
    position: relative; /* Allow absolute positioning inside */
    padding: 10px; /* Add padding */
     background-color: #f9f9f9; /* Optional background color */
}

/* Holiday Name */
.holiday-name {
    
    display: inline-block;
    max-width: 79%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #206d58;
    font-weight: bold;
    cursor: pointer;
}

.holiday-name:hover {
    text-decoration: underline;
}

.name-day {    max-width: 79%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #777;
 }

.day-date { 
 }

.day-info {
    flex-grow: 1;
    display: flex
;
    flex-direction: column;
align-content: flex-end;    align-items: flex-end;
}

.day-name {
    font-weight: bold;
    margin-top: auto; /* Push to bottom */
}
.mdc-data-table__cell, .mdc-data-table__header-cell {
padding: 0px !important;}/* Header Cell Styling */
#day-headers th {
    position: relative; /* Allow absolute positioning inside if needed */
    padding: 10px; /* Add padding */ 
    background-color: white; /* Optional background color */
    height: 50px; /* Set a fixed height as needed */
    box-sizing: border-box; /* Include padding and border in height */
}

/* Day Header Content */
.day-header-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Pushes content to the bottom */
    height: 100%; /* Ensures it takes the full height of the header cell */
    position: relative; /* Required for absolute positioning if used */
}

.day-info {
    display: flex
;
PADDING: 4PX;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: flex-start;
}
/* Day Name */
.day-name { 
    margin: 0; /* Reset any margins */
    /* Uncomment the following if using absolute positioning */
    /* 
    position: absolute;
    bottom: 5px; 
    left: 50%;
    transform: translateX(-50%);
    */
}

/* Optional: If using absolute positioning */
.day-header-content {
    position: relative;
}

.day-name {
    /* Uncomment the following if using absolute positioning */
    /*
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    */
}
.planner-table {
    table-layout: fixed; /* Ensures columns have fixed widths, which can help with uniformity */
    width: 100%;
    min-width: 800px;
}

.planner-table th, .planner-table td {
    /* Ensure that cells adhere to the fixed table layout */
    word-wrap: break-word; /* Allow content to wrap to prevent overflow */
} /* Remove conflicting height settings */
td, .mdc-data-table__cell {
    /* Remove any fixed heights */
    height: auto;
    min-height: 52px; /* Retain min-height if necessary */
    padding: 8px; /* Standardize padding */
    box-sizing: border-box; /* Ensure padding and borders are included in height */
    vertical-align: top; /* Align content to the top to prevent uneven heights */
}
.year-calendar-modal th, .year-calendar-modal td {

    height: auto;
    /* line-height: 52px; */
    /* min-height: 52px; */
    padding: 8px;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
} 
/* Ensure consistent borders */
td, th {
    border-left: 1px solid #ccc; /* Standard border for all cells */
}

.snackbar-success .mdc-snackbar__surface {
    border-color: #206d58;
     /* Green */
 
     box-shadow: 0 0 5px 0px #206d588a;
}
.snackbar-success .mdc-snackbar__label {

    color: #206d58; /* Green */
}
/* Error Toast */
.snackbar-error .mdc-snackbar__surface {
    border-color: #ff0000; /* Red */
    
    box-shadow: 0 0 5px 0px #ff000076;
}

.snackbar-error  .mdc-snackbar__label {
 
    color: #ff0000; /* Red */
}
/* Warning Toast */
.snackbar-warning .mdc-snackbar__surface {
    border-color: orange;
    box-shadow: 0 0 5 0px rgba(255, 166, 0, 0.527);
}
.snackbar-warning .mdc-snackbar__label {
 
    color: orange; /* Orange */
}/* ========================
   Analog Clock Styles
   ======================== */

   .clock {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #ffffff;
    border:1px solid black; 
        position: relative;
 }

.center-dot {
    width: 3px;
    height: 3px;
    background: #333;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    background: #333;
    border-radius: 1px;
}

.hour-hand {
    width: 2px;
    height: 15px;
    transform: translateX(-50%);
}

.minute-hand {
    width: 1.5px;
    height: 18px;
    transform: translateX(-50%);
}

.second-hand {
    width: 1px;
    height: 25px;
    background: #ff0000;
    transform: translateX(-50%);
}

.number {
    position: absolute;    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 0.5em; 
    color: #333;
}.mdc-data-table__row:not(.mdc-data-table__row--selected):hover {
    background-color: white;
    }    .note-text:focus, .time-slot:focus,.time-slot:hover {
        outline: none;background-color: #cffff2;
        border-left-color: #206d58; 
    }.today {
        background-color: #ffe37e; /* Highlight color */
      }
  section { 
    padding: 4px !important;
    justify-content: center;
     }      